Data/Rpi/Node-red.txt
[{"id":"4ca217eb.16c988","type":"subflow","name":"Grafy","info":"","category":"","in":[{"x":48,"y":88,"wires":[{"id":"9f7fb4e5.976068"}]}],"out":[{"x":881.0001792907715,"y":1014.0000343322754,"wires":[{"id":"b0a0c8f7.026898","port":0}]}],"env":[]},{"id":"7b314fe0.c1c68","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":666,"y":90,"wires":[["11d2e1d1.95e6ee","49ef827e.3d6aec"]]},{"id":"9f7fb4e5.976068","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_input_voltage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_input_voltage'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":300,"y":91,"wires":[["7b314fe0.c1c68"]]},{"id":"66fef505.f9f90c","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"b89aedc9.65f6","order":1,"width":"22","height":"5","label":"Charging_equipment_input_voltage [V]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1212,"y":88,"wires":[[]]},{"id":"11d2e1d1.95e6ee","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":849,"y":90,"wires":[["66fef505.f9f90c"]]},{"id":"49ef827e.3d6aec","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_input_current","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_input_current'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":304,"y":147,"wires":[["3b54d626.62e01a"]]},{"id":"7978e643.11dad8","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"5edbae5c.8b3ba","order":2,"width":"22","height":"5","label":"Charging_equipment_input_current [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1213,"y":141,"wires":[[]]},{"id":"50e33ec1.97a21","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":145,"wires":[["7978e643.11dad8"]]},{"id":"3b54d626.62e01a","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":663,"y":148,"wires":[["50e33ec1.97a21","be13a0d0.77a66"]]},{"id":"f278d333.aba33","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"7992d45b.04634c","order":3,"width":"22","height":"5","label":"Charging_equipment_input_power [W]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1214,"y":196,"wires":[[]]},{"id":"8f62808d.0e5fe","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":200,"wires":[["f278d333.aba33"]]},{"id":"596b9649.8a8b18","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":664,"y":203,"wires":[["8f62808d.0e5fe","74a02f4b.06495"]]},{"id":"be13a0d0.77a66","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_input_power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_input_power'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":305,"y":202,"wires":[["596b9649.8a8b18"]]},{"id":"2e17d593.b1095a","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"b89aedc9.65f6","order":4,"width":"22","height":"5","label":"Charging_equipment_output_voltage [V]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1228,"y":253,"wires":[[]]},{"id":"cd2818ba.8b23c8","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":257,"wires":[["2e17d593.b1095a"]]},{"id":"1cb52bff.f879c4","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":668,"y":260,"wires":[["cd2818ba.8b23c8","b40e9233.1b9f9"]]},{"id":"74a02f4b.06495","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_output_voltage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_output_voltage'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":319,"y":259,"wires":[["1cb52bff.f879c4"]]},{"id":"48f67e42.7da74","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"5edbae5c.8b3ba","order":5,"width":"22","height":"5","label":"Charging_equipment_output_current [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1226,"y":307,"wires":[[]]},{"id":"7007677.a572098","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":853,"y":311,"wires":[["48f67e42.7da74"]]},{"id":"aa6965cb.942a98","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":666,"y":314,"wires":[["7007677.a572098","f05b3e0a.543f5"]]},{"id":"b40e9233.1b9f9","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_output_current","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_output_current'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":317,"y":313,"wires":[["aa6965cb.942a98"]]},{"id":"24e2ce75.e58a52","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"7992d45b.04634c","order":6,"width":"22","height":"5","label":"Charging_equipment_output_power [W]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1232,"y":359,"wires":[[]]},{"id":"b49a2249.37d2c","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":363,"wires":[["24e2ce75.e58a52"]]},{"id":"41e32ba3.f53be4","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":672,"y":366,"wires":[["b49a2249.37d2c","b86f9de0.f59c7"]]},{"id":"f05b3e0a.543f5","type":"template","z":"4ca217eb.16c988","name":"Charging_equipment_output_power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Charging_equipment_output_power'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":313,"y":365,"wires":[["41e32ba3.f53be4"]]},{"id":"bcbdba1a.4f30e8","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"b89aedc9.65f6","order":7,"width":"22","height":"5","label":"Discharging_equipment_output_voltage [V]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1242,"y":410,"wires":[[]]},{"id":"42727c1d.e74a24","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":414,"wires":[["bcbdba1a.4f30e8"]]},{"id":"a4ac3ea.00aa6c","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":672,"y":417,"wires":[["42727c1d.e74a24","6c1528db.3f98b8"]]},{"id":"b86f9de0.f59c7","type":"template","z":"4ca217eb.16c988","name":"Discharging_equipment_output_voltage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Discharging_equipment_output_voltage'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":333,"y":416,"wires":[["a4ac3ea.00aa6c"]]},{"id":"18bc4556.19c87b","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"5edbae5c.8b3ba","order":8,"width":"22","height":"5","label":"Discharging_equipment_output_current [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1242,"y":463,"wires":[[]]},{"id":"e36bf287.8d88c","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":467,"wires":[["18bc4556.19c87b"]]},{"id":"e22b0c34.17615","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":672,"y":470,"wires":[["e36bf287.8d88c","43128aa2.4bf614"]]},{"id":"6c1528db.3f98b8","type":"template","z":"4ca217eb.16c988","name":"Discharging_equipment_output_current","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Discharging_equipment_output_current'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":333,"y":469,"wires":[["e22b0c34.17615"]]},{"id":"3bddad6c.8bbf52","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"7992d45b.04634c","order":9,"width":"22","height":"5","label":"Discharging_equipment_output_power [W]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1244,"y":516,"wires":[[]]},{"id":"ed271575.f24f38","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":520,"wires":[["3bddad6c.8bbf52"]]},{"id":"fef21250.129","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":674,"y":523,"wires":[["ed271575.f24f38","21415ac6.986da6"]]},{"id":"43128aa2.4bf614","type":"template","z":"4ca217eb.16c988","name":"Discharging_equipment_output_power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Discharging_equipment_output_power'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":325,"y":522,"wires":[["fef21250.129"]]},{"id":"94e91652.7eb768","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"ee34e301.5af32","order":10,"width":"22","height":"5","label":"Battery_temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1184,"y":563,"wires":[[]]},{"id":"45f30b24.cc0504","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":567,"wires":[["94e91652.7eb768"]]},{"id":"8987fe6e.8501","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":674,"y":570,"wires":[["45f30b24.cc0504","2c6a0f8.49ae0f"]]},{"id":"21415ac6.986da6","type":"template","z":"4ca217eb.16c988","name":"Battery_temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Battery_temperature'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":275,"y":569,"wires":[["8987fe6e.8501"]]},{"id":"f49b38b8.c6f5b8","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"ee34e301.5af32","order":18,"width":"22","height":"5","label":"Temperature_inside_equipment [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1224,"y":610,"wires":[[]]},{"id":"53b6db0d.85f064","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":614,"wires":[["f49b38b8.c6f5b8"]]},{"id":"2ad67d1c.ccc3d2","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":674,"y":617,"wires":[["53b6db0d.85f064","3140f15e.b6eb5e"]]},{"id":"2c6a0f8.49ae0f","type":"template","z":"4ca217eb.16c988","name":"Temperature_inside_equipment","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Temperature_inside_equipment'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":305,"y":616,"wires":[["2ad67d1c.ccc3d2"]]},{"id":"e3189396.2d9c5","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"ee34e301.5af32","order":11,"width":"22","height":"5","label":"Remote_battery_temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1214,"y":658,"wires":[[]]},{"id":"c0f75c42.91488","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":662,"wires":[["e3189396.2d9c5"]]},{"id":"5f43f4f9.f911dc","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":674,"y":665,"wires":[["c0f75c42.91488","a9612f04.4f2da"]]},{"id":"3140f15e.b6eb5e","type":"template","z":"4ca217eb.16c988","name":"Remote_battery_temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Remote_battery_temperature'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":295,"y":664,"wires":[["5f43f4f9.f911dc"]]},{"id":"6087ba1d.a889a4","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"3aaf967f.b6581a","order":12,"width":"22","height":"5","label":"Consumed_energy_today [kWh]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1203,"y":708,"wires":[[]]},{"id":"c1624bc.9677db8","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":712,"wires":[["6087ba1d.a889a4"]]},{"id":"248b5891.115598","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":673,"y":715,"wires":[["c1624bc.9677db8","ff9fe391.2cfad"]]},{"id":"a9612f04.4f2da","type":"template","z":"4ca217eb.16c988","name":"Consumed_energy_today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Consumed_energy_today'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":284,"y":714,"wires":[["248b5891.115598"]]},{"id":"c378709d.610b3","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"3aaf967f.b6581a","order":13,"width":"22","height":"5","label":"Total_consumed_energy [kWh]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1203,"y":761,"wires":[[]]},{"id":"3b508aa3.586f76","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":765,"wires":[["c378709d.610b3"]]},{"id":"c593fe9.d71a5","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":673,"y":768,"wires":[["3b508aa3.586f76","431f0196.1430e"]]},{"id":"ff9fe391.2cfad","type":"template","z":"4ca217eb.16c988","name":"Total_consumed_energy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Total_consumed_energy'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":284,"y":767,"wires":[["c593fe9.d71a5"]]},{"id":"ff9e4418.b22528","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"3aaf967f.b6581a","order":14,"width":"22","height":"5","label":"Generated_energy_today [kWh]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1202,"y":806,"wires":[[]]},{"id":"3f576e7f.6e3c22","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":810,"wires":[["ff9e4418.b22528"]]},{"id":"b6e38cec.9eaa3","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":672,"y":813,"wires":[["3f576e7f.6e3c22","d984361.41decc8"]]},{"id":"431f0196.1430e","type":"template","z":"4ca217eb.16c988","name":"Generated_energy_today","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Generated_energy_today'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":283,"y":812,"wires":[["b6e38cec.9eaa3"]]},{"id":"5811135c.83b87c","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"3aaf967f.b6581a","order":15,"width":"22","height":"5","label":"Total_generated_energy [kWh]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1207,"y":853,"wires":[[]]},{"id":"ef8d69e9.175ff8","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":864,"y":857,"wires":[["5811135c.83b87c"]]},{"id":"5232cfcc.0baa4","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":677,"y":860,"wires":[["ef8d69e9.175ff8","5eddb61b.61afd8"]]},{"id":"d984361.41decc8","type":"template","z":"4ca217eb.16c988","name":"Total_generated_energy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Total_generated_energy'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":288,"y":859,"wires":[["5232cfcc.0baa4"]]},{"id":"f117a15d.88eca","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"3aaf967f.b6581a","order":16,"width":"22","height":"5","label":"Carbon_dioxide_reduction [Ton]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1201,"y":903,"wires":[[]]},{"id":"c94d806b.baead","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":858,"y":907,"wires":[["f117a15d.88eca"]]},{"id":"9af05945.b9d878","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":671,"y":910,"wires":[["c94d806b.baead","590beb49.37e844"]]},{"id":"5eddb61b.61afd8","type":"template","z":"4ca217eb.16c988","name":"Carbon_dioxide_reduction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Carbon_dioxide_reduction'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":282,"y":909,"wires":[["9af05945.b9d878"]]},{"id":"861a0e84.e8eda","type":"ui_chart","z":"4ca217eb.16c988","name":"","group":"5edbae5c.8b3ba","order":17,"width":"22","height":"5","label":"Battery_current [A]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1162,"y":952,"wires":[[]]},{"id":"4de3272a.fc04b8","type":"function","z":"4ca217eb.16c988","name":"","func":"data = msg.payload\nmsg.payload = \n[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":956,"wires":[["861a0e84.e8eda"]]},{"id":"b0a0c8f7.026898","type":"MSSQL","z":"4ca217eb.16c988","mssqlCN":"9e2ae271.5c612","name":"","query":"","outField":"payload","x":672,"y":959,"wires":[["4de3272a.fc04b8"]]},{"id":"590beb49.37e844","type":"template","z":"4ca217eb.16c988","name":"Battery_current","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DECLARE @ParameterName VARCHAR(40)\nDECLARE @TimeFrom DATETIME\nDECLARE @TimeTo DATETIME\n\nDECLARE @NmbRows INT\n\nSET @ParameterName = 'Battery_current'\nSET @TimeFrom = '{{global.TimeFrom_S1}}'\nSET @TimeTo = '{{global.TimeTo_S1}}'\n\nSET @TimeFrom = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeFrom)\nSET @TimeTo = DATEADD(hh, DATEDIFF(hh, GETUTCDATE(), GETDATE() AT TIME ZONE 'Central European Standard Time'), @TimeTo)\n\nSET @NmbRows = \n(SELECT COUNT(*) FROM StationData WHERE \nDate BETWEEN @TimeFrom AND @TimeTo\nAND parameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName))\n\nSELECT t.Date AS x, CAST(t.Value AS FLOAT)/100 AS y FROM \n(\nSELECT Value, Date, ROW_NUMBER() OVER (ORDER BY DATE) AS rownum\nFROM StationData WHERE Date BETWEEN @TimeFrom AND @TimeTo AND\nparameter = \n(SELECT Id FROM StationParameters WHERE Name=@ParameterName)\n) AS t\nWHERE t.rownum % (CAST(CASE WHEN @NmbRows>1000 THEN @NmbRows/1000 ELSE 1 END AS DECIMAL)) = 0\nORDER BY Date","output":"str","x":253,"y":958,"wires":[["b0a0c8f7.026898"]]},{"id":"9e2ae271.5c612","type":"MSSQL-CN","z":"","name":"Supercharger","server":"lizard.database.windows.net","encyption":true,"database":"charger_develop"},{"id":"b89aedc9.65f6","type":"ui_group","z":"","name":"Voltage","tab":"1ecd1a93.4c94b5","disp":false,"width":"22","collapse":false},{"id":"5edbae5c.8b3ba","type":"ui_group","z":"","name":"Current","tab":"abc483b.4f4d48","order":1,"disp":false,"width":"22","collapse":false},{"id":"7992d45b.04634c","type":"ui_group","z":"","name":"Power","tab":"6e03937f.31301c","order":3,"disp":false,"width":"22","collapse":false},{"id":"ee34e301.5af32","type":"ui_group","z":"","name":"Temperature","tab":"3feebfe2.359c5","order":1,"disp":false,"width":"22","collapse":false},{"id":"3aaf967f.b6581a","type":"ui_group","z":"","name":"Energy","tab":"ebe3f474.879c88","order":1,"disp":false,"width":"22","collapse":false},{"id":"1ecd1a93.4c94b5","type":"ui_tab","z":"","name":"Voltage","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"abc483b.4f4d48","type":"ui_tab","z":"","name":"Current","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"6e03937f.31301c","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3feebfe2.359c5","type":"ui_tab","z":"","name":"Temperatures","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ebe3f474.879c88","type":"ui_tab","z":"","name":"Energy","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ff5051a6.92afd","type":"tab","label":"SOLAR","disabled":false,"info":""},{"id":"3d7567f7.a15a18","type":"ui_dropdown","z":"ff5051a6.92afd","name":"","label":"","tooltip":"","place":"Vyberte interval","group":"584b6e97.83577","order":10,"width":"7","height":"1","passthru":false,"options":[{"label":"Za poslední hodinu","value":-1,"type":"num"},{"label":"za posledních 8 hodin","value":-8,"type":"num"},{"label":"za posledních 24 hodin","value":-24,"type":"num"},{"label":"za poslední týden","value":-168,"type":"num"},{"label":"za posledních 30 dní","value":-720,"type":"num"},{"label":"vlastní zadání","value":"custom","type":"str"}],"payload":"","topic":"","x":109,"y":229.03516292572021,"wires":[["f13bb411.222728"]]},{"id":"99b547be.1b0088","type":"ui_text_input","z":"ff5051a6.92afd","name":"Do (cas)","label":"","tooltip":"","group":"584b6e97.83577","order":6,"width":"3","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":907.0195198059082,"y":300.9999713897705,"wires":[["7d4d4d18.18ef54"]]},{"id":"eb5a249f.4952f8","type":"ui_text_input","z":"ff5051a6.92afd","name":"Od (cas)","label":"","tooltip":":-)","group":"584b6e97.83577","order":3,"width":"3","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":912.0196418762207,"y":28.999971389770508,"wires":[["e24f1f73.104d"]]},{"id":"cfa3897a.ca0298","type":"ui_date_picker","z":"ff5051a6.92afd","name":"Do (datum)","label":"Do","group":"584b6e97.83577","order":5,"width":"4","height":"1","passthru":false,"topic":"","x":916.0195198059082,"y":478.99995613098145,"wires":[["e61d30de.e4f1f"]]},{"id":"f6eee1a4.37cd3","type":"ui_date_picker","z":"ff5051a6.92afd","name":"Od (datum)","label":"Od","group":"584b6e97.83577","order":2,"width":"4","height":"1","passthru":false,"topic":"","x":909.0196418762207,"y":205.9999713897705,"wires":[["267b31e4.72646e"]]},{"id":"3aefb408.0a90cc","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeFrom_S1","x":1756.0195388793945,"y":112.99999237060547,"wires":[["a666df17.caea7"]]},{"id":"d5d2f033.d1b44","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeTo_S1","x":1760.0199356079102,"y":392.9999599456787,"wires":[["2230c7fe.ad5bd8","a666df17.caea7"]]},{"id":"2c608987.8f13a6","type":"ui_button","z":"ff5051a6.92afd","name":"","group":"584b6e97.83577","order":7,"width":"3","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"OK","x":1011.8908271789551,"y":637.3046789169312,"wires":[["76e99862.a6a888"]]},{"id":"f13bb411.222728","type":"switch","z":"ff5051a6.92afd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":246.00006675720215,"y":230.9960813522339,"wires":[["7bce18c7.cda308"]]},{"id":"61526f78.b1268","type":"change","z":"ff5051a6.92afd","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Naèítání...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":607.0001373291016,"y":728.9962139129639,"wires":[["3d7567f7.a15a18","cdca5ec8.b71cd","59d134f.29a4fcc"]]},{"id":"f286c2c5.ec1c4","type":"change","z":"ff5051a6.92afd","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.0001525878906,"y":979.9961395263672,"wires":[["cdca5ec8.b71cd","59d134f.29a4fcc"]]},{"id":"16e28b0b.55fc35","type":"ui_template","z":"ff5051a6.92afd","group":"584b6e97.83577","name":"FontSizeHistorie","order":241,"width":0,"height":0,"format":"<style>\n#OBRÁBÌNÍ_Historie_cards {\n    font-size: 25px !important;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2110.000186920166,"y":104.99608993530273,"wires":[[]]},{"id":"e627d4c0.fefe88","type":"ui_template","z":"ff5051a6.92afd","group":"969ace7a.5c377","name":"Clock Toolbar","order":3,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":2108.0235748291016,"y":55.039069175720215,"wires":[[]]},{"id":"f290a368.f5433","type":"delay","z":"ff5051a6.92afd","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1162.0001907348633,"y":820.0001249313354,"wires":[["61526f78.b1268","953eaebb.eec1a"]]},{"id":"49b4a0ba.be064","type":"inject","z":"ff5051a6.92afd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470.8829460144043,"y":1158.8633289337158,"wires":[["f286c2c5.ec1c4"]]},{"id":"953eaebb.eec1a","type":"subflow:4ca217eb.16c988","z":"ff5051a6.92afd","name":"Grafy","env":[],"x":1716.500644683838,"y":872.0001888275146,"wires":[["f286c2c5.ec1c4"]]},{"id":"bf73db56.4ab728","type":"ui_text","z":"ff5051a6.92afd","group":"584b6e97.83577","order":8,"width":"3","height":"1","name":"Txt","label":"","format":"{{msg.payload}}","layout":"col-center","x":1890.894660949707,"y":717.8830242156982,"wires":[]},{"id":"7bce18c7.cda308","type":"change","z":"ff5051a6.92afd","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.16667556762695,"y":231.33334255218506,"wires":[["84e08426.061688","fddce909.af73d8","ad00ce5a.10185","fc959d6d.f304d"]]},{"id":"2230c7fe.ad5bd8","type":"switch","z":"ff5051a6.92afd","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1931.0000953674316,"y":389.0000295639038,"wires":[["8ce5e0bc.b1489"]]},{"id":"feea6ad.10bc198","type":"change","z":"ff5051a6.92afd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"custom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2111.166748046875,"y":298.3333435058594,"wires":[["3d7567f7.a15a18"]]},{"id":"a666df17.caea7","type":"switch","z":"ff5051a6.92afd","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1927.0002174377441,"y":239.00000667572021,"wires":[["feea6ad.10bc198"]]},{"id":"cdca5ec8.b71cd","type":"link out","z":"ff5051a6.92afd","name":"Disable_obrabeni","links":["3940e22f.8e1ebe","5befea61.2accc4"],"x":809.5000915527344,"y":840.0000286102295,"wires":[]},{"id":"5befea61.2accc4","type":"link in","z":"ff5051a6.92afd","name":"Enable/Disable_Obrabeni","links":["f7d4d58.3db6928","cdca5ec8.b71cd","3ab65437.3e0e6c"],"x":745.5,"y":651,"wires":[["2c608987.8f13a6","3d7567f7.a15a18","aafa78e0.e5af38"]]},{"id":"84e08426.061688","type":"function","z":"ff5051a6.92afd","name":"ToLocale_Cas+offset","func":"var offset = msg.payload\nvar d = new Date();\nd.setHours(d.getHours() + offset);\nd = new Date(d);\nd = d.toLocaleString(undefined,{hour:\"2-digit\",minute:\"2-digit\"} )\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":647.0522689819336,"y":85.59382629394531,"wires":[["50896e5.3541b9","eb5a249f.4952f8"]]},{"id":"f3f50c5a.00266","type":"function","z":"ff5051a6.92afd","name":"datum+cas","func":"\nvar datum = context.global.TimeFrom_S1_date\nvar cas = context.global.TimeFrom_S1_time\nmsg.payload = datum + ' ' + cas\nreturn msg;","outputs":1,"noerr":0,"x":1586.0522499084473,"y":113.27082443237305,"wires":[["3aefb408.0a90cc"]]},{"id":"50896e5.3541b9","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeFrom_S1_time","x":1414.9999656677246,"y":85.99994277954102,"wires":[["f3f50c5a.00266"]]},{"id":"7c02eb16.8212b4","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeFrom_S1_date","x":1411.999942779541,"y":146.99993515014648,"wires":[["f3f50c5a.00266"]]},{"id":"fddce909.af73d8","type":"function","z":"ff5051a6.92afd","name":"ToLocale_Datum+offset","func":"var offset = msg.payload\nvar d = new Date();\nd.setHours(d.getHours() + offset);\nd = new Date(d);\nd = d.toLocaleString(undefined,{year:\"numeric\",month:\"2-digit\",day:\"2-digit\"})\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":648.0001449584961,"y":152.00004959106445,"wires":[["7c02eb16.8212b4","f6eee1a4.37cd3"]]},{"id":"ad00ce5a.10185","type":"function","z":"ff5051a6.92afd","name":"ToLocale_Cas","func":"var d = new Date();\nd = d.toLocaleString(undefined,{hour:\"2-digit\",minute:\"2-digit\"} )\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":664.830078125,"y":331.5938329696655,"wires":[["5718802a.8e99","99b547be.1b0088"]]},{"id":"eeeab77c.7e8618","type":"function","z":"ff5051a6.92afd","name":"datum+cas","func":"\nvar datum = context.global.TimeTo_S1_date\nvar cas = context.global.TimeTo_S1_time\nmsg.payload = datum + ' ' + cas\nreturn msg;","outputs":1,"noerr":0,"x":1593.830020904541,"y":393.27084255218506,"wires":[["d5d2f033.d1b44"]]},{"id":"5718802a.8e99","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeTo_S1_time","x":1413.7777976989746,"y":356.999942779541,"wires":[["eeeab77c.7e8618"]]},{"id":"1d7af549.f3c2eb","type":"globalGetSet","z":"ff5051a6.92afd","name":"","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"TimeTo_S1_date","x":1410.777774810791,"y":417.9999351501465,"wires":[["eeeab77c.7e8618"]]},{"id":"fc959d6d.f304d","type":"function","z":"ff5051a6.92afd","name":"ToLocale_Datum","func":"var d = new Date();\nd = d.toLocaleString(undefined,{year:\"numeric\",month:\"2-digit\",day:\"2-digit\"})\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":654.7778854370117,"y":413.0000219345093,"wires":[["cfa3897a.ca0298","2e6f039f.d1c7dc"]]},{"id":"2e6f039f.d1c7dc","type":"change","z":"ff5051a6.92afd","name":"","rules":[{"t":"set","p":"topic2","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1101.7696151733398,"y":425.0039129257202,"wires":[["1d7af549.f3c2eb"]]},{"id":"8ce5e0bc.b1489","type":"switch","z":"ff5051a6.92afd","name":"","property":"topic2","propertyType":"msg","rules":[{"t":"eq","v":"auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1935.2695350646973,"y":452.00392055511475,"wires":[["f290a368.f5433"]]},{"id":"59d134f.29a4fcc","type":"function","z":"ff5051a6.92afd","name":"delete msg.payload","func":"delete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":674.8867073059082,"y":223.543044090271,"wires":[["cfa3897a.ca0298","99b547be.1b0088","f6eee1a4.37cd3","eb5a249f.4952f8"]]},{"id":"e61d30de.e4f1f","type":"function","z":"ff5051a6.92afd","name":"UNIX to ISO, sliceDatum","func":"var now = new Date(msg.payload);\nvar isoString = now.toISOString();\nmsg.payload = isoString.slice(0,10)\nreturn msg;","outputs":1,"noerr":0,"x":1134.8867225646973,"y":480.27735710144043,"wires":[["1d7af549.f3c2eb"]]},{"id":"bec488ba.caf118","type":"switch","z":"ff5051a6.92afd","name":"","property":"TimeFrom_S1","propertyType":"global","rules":[{"t":"eq","v":"TimeTo_S1","vt":"global"},{"t":"gt","v":"TimeTo_S1","vt":"global"},{"t":"lt","v":"TimeTo_S1","vt":"global"}],"checkall":"true","repair":false,"outputs":3,"x":1415.519687652588,"y":517.0038986206055,"wires":[["86ce11bc.a83d2"],["5c7c50c9.912f8"],["f290a368.f5433"]]},{"id":"86ce11bc.a83d2","type":"change","z":"ff5051a6.92afd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color= \"Red\" >Od = Do !!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718.3948440551758,"y":502.8867244720459,"wires":[["bf73db56.4ab728"]]},{"id":"5c7c50c9.912f8","type":"change","z":"ff5051a6.92afd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color= \"Red\" >Od > Do !!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1685.5196914672852,"y":540.0039892196655,"wires":[["bf73db56.4ab728"]]},{"id":"aafa78e0.e5af38","type":"function","z":"ff5051a6.92afd","name":"delete msg.enabled","func":"delete msg.enabled\nreturn msg;","outputs":1,"noerr":0,"x":1015.3906326293945,"y":709.5351552963257,"wires":[["bf73db56.4ab728"]]},{"id":"7d4d4d18.18ef54","type":"function","z":"ff5051a6.92afd","name":"UNIX to ISO, sliceCas","func":"var now = new Date(msg.payload);\nvar isoString = now.toISOString();\nmsg.payload = isoString.slice(11,16)\nreturn msg;","outputs":1,"noerr":0,"x":1129.51953125,"y":301.0039005279541,"wires":[["5718802a.8e99"]]},{"id":"267b31e4.72646e","type":"function","z":"ff5051a6.92afd","name":"UNIX to ISO, sliceDatum","func":"var now = new Date(msg.payload);\nvar isoString = now.toISOString();\nmsg.payload = isoString.slice(0,10)\nreturn msg;","outputs":1,"noerr":0,"x":1150.5195770263672,"y":204.0039119720459,"wires":[["7c02eb16.8212b4"]]},{"id":"e24f1f73.104d","type":"function","z":"ff5051a6.92afd","name":"UNIX to ISO, sliceCas","func":"var now = new Date(msg.payload);\nvar isoString = now.toISOString();\nmsg.payload = isoString.slice(11,16)\nreturn msg;","outputs":1,"noerr":0,"x":1149.51953125,"y":30.003908157348633,"wires":[["50896e5.3541b9"]]},{"id":"76e99862.a6a888","type":"function","z":"ff5051a6.92afd","name":"Time>Now","func":"var now\nvar t = new Date();\nvar d = t.toLocaleString(undefined,{year:\"numeric\",month:\"2-digit\",day:\"2-digit\"})\nvar c = t.toLocaleString(undefined,{hour:\"2-digit\",minute:\"2-digit\"})\nnow = d + \" \" + c\n\nnow = Date.parse(now)\nvar TimeFrom = Date.parse(context.global.TimeFrom_S1)\nvar TimeTo = Date.parse(context.global.TimeTo_S1)\n\nif (TimeFrom < now)\n{\n    if (TimeTo < now)\n    {\n    return [msg,null];\n    }\n}\n\nif (TimeTo > now)\n{\n    return [null,{payload: \"<font color = Red > Do > now !!!\"}];\n}\nif (TimeFrom > now)\n{\n    return [null,{payload: \"<font color = Red > Od > now !!!\"}];\n}","outputs":2,"noerr":0,"x":1208.0195693969727,"y":547.0038967132568,"wires":[["bec488ba.caf118"],["bf73db56.4ab728"]]},{"id":"584b6e97.83577","type":"ui_group","z":"","name":"Nastavení èasového intervalu","tab":"6e03937f.31301c","order":2,"disp":true,"width":"22","collapse":false},{"id":"969ace7a.5c377","type":"ui_group","z":"","name":"Aktuální stav","tab":"6e03937f.31301c","order":1,"disp":true,"width":"34","collapse":true}]