Rpi/history/Node-redWeather.txt
[{"id":"55686fd5.9c763","type":"tab","label":"system","disabled":false,"info":""},{"id":"24474a6.51929b6","type":"tab","label":"weather","disabled":false,"info":""},{"id":"605a12cf.ded92c","type":"ui_tab","z":"","name":"system","icon":"dashboard","disabled":false,"hidden":false},{"id":"44f3a065.a39c","type":"ui_group","z":"","name":"CPU usage","tab":"605a12cf.ded92c","disp":true,"width":"10","collapse":true},{"id":"ab6059cd.44a1f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e76b1a00.28afe8","type":"ui_group","z":"","name":"CPU temp","tab":"605a12cf.ded92c","order":2,"disp":true,"width":"10","collapse":true},{"id":"7bd4304.af2c7d","type":"ui_group","z":"","name":"RAM usage","tab":"605a12cf.ded92c","order":3,"disp":true,"width":"10","collapse":true},{"id":"75bd1b99.e30304","type":"ui_group","z":"","name":"info","tab":"605a12cf.ded92c","order":4,"disp":true,"width":"10","collapse":true},{"id":"c4f36502.f14f78","type":"ui_group","z":"","name":"Wheather","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d07f77bf.cfeb28","type":"ui_group","z":"24474a6.51929b6","name":"Current Conditions","tab":"b6a4de43.d4a9f","order":1,"disp":true,"width":"6"},{"id":"471e4534.91056c","type":"ui_group","z":"","name":"Forecast","tab":"b6a4de43.d4a9f","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6a4de43.d4a9f","type":"ui_tab","z":"24474a6.51929b6","name":"weather","icon":"cloud","order":2,"disabled":false,"hidden":false},{"id":"8184a219.e7c75","type":"darksky-credentials","z":"","key_identifier":"jara.d@atlas.cz"},{"id":"542bd34b.3319ec","type":"ui_tab","z":"","name":"Solar","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"527e8d11.890494","type":"ui_group","z":"","name":"Napětí baterie","tab":"542bd34b.3319ec","order":1,"disp":true,"width":"8","collapse":false},{"id":"99ff2d0c.8402b","type":"inject","z":"55686fd5.9c763","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":248,"y":233,"wires":[["65c5806d.dc687","b815df3c.56936","aed68fb3.62645","1370c444.704f8c"]]},{"id":"b4ccdbef.fdbd78","type":"ui_gauge","z":"55686fd5.9c763","name":"CPU usage","group":"44f3a065.a39c","order":1,"width":"3","height":"3","gtype":"gage","title":"","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":671,"y":57,"wires":[]},{"id":"b815df3c.56936","type":"cpu","z":"55686fd5.9c763","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":474,"y":56,"wires":[["a634545b.7bb1d8","b4ccdbef.fdbd78"]]},{"id":"65c5806d.dc687","type":"cpu","z":"55686fd5.9c763","name":"CPU temp","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":468,"y":151,"wires":[["637d298.7485cd8","cabf1850.ad5018"]]},{"id":"637d298.7485cd8","type":"ui_gauge","z":"55686fd5.9c763","name":"CPU temp","group":"e76b1a00.28afe8","order":1,"width":"3","height":"3","gtype":"gage","title":"","label":"°C","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":681,"y":152,"wires":[]},{"id":"aed68fb3.62645","type":"Uptime","z":"55686fd5.9c763","name":"","x":479,"y":289,"wires":[["10143e6c.fc5842"]]},{"id":"10143e6c.fc5842","type":"ui_text","z":"55686fd5.9c763","group":"75bd1b99.e30304","order":4,"width":0,"height":0,"name":"","label":"uptime:","format":"{{msg.payload.uptime}} s","layout":"row-left","x":734,"y":289,"wires":[]},{"id":"1370c444.704f8c","type":"Memory","z":"55686fd5.9c763","name":"","x":480,"y":365,"wires":[["c6aa3b7d.961a38"]]},{"id":"60f7f3ab.ce0e2c","type":"ui_gauge","z":"55686fd5.9c763","name":"RAM usage","group":"7bd4304.af2c7d","order":1,"width":"3","height":"3","gtype":"gage","title":"","label":"MB","format":"{{value | number:0}}","min":0,"max":"926","colors":["#00b500","#e6e600","#ca3838"],"seg1":"400","seg2":"700","x":800,"y":366,"wires":[]},{"id":"c6aa3b7d.961a38","type":"function","z":"55686fd5.9c763","name":"","func":"msg.payload = ((msg.payload.totalmem - msg.payload.freemem)/1024)/1024\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":366,"wires":[["60f7f3ab.ce0e2c","8c06536b.37e15"]]},{"id":"a634545b.7bb1d8","type":"ui_chart","z":"55686fd5.9c763","name":"CPU usage chart","group":"44f3a065.a39c","order":2,"width":"7","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":689,"y":96,"wires":[[]]},{"id":"cabf1850.ad5018","type":"ui_chart","z":"55686fd5.9c763","name":"CPU temp chart","group":"e76b1a00.28afe8","order":2,"width":"7","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":694,"y":191,"wires":[[]]},{"id":"8c06536b.37e15","type":"ui_chart","z":"55686fd5.9c763","name":"RAM usage chart","group":"7bd4304.af2c7d","order":2,"width":"7","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"926","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":823,"y":408,"wires":[[]]},{"id":"9ebd2ede.70dd8","type":"function","z":"24474a6.51929b6","name":"Rain intensity","func":"const i = msg.payload.precipIntensity*25.4;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1125,"y":629,"wires":[["7babbcce.0aa154"]]},{"id":"5dab46ec.079968","type":"function","z":"24474a6.51929b6","name":"Rain chance","func":"const i = msg.payload.precipProbability*100;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1115,"y":589,"wires":[["d2d27246.12d69"]]},{"id":"d8252436.8e3608","type":"function","z":"24474a6.51929b6","name":"Summary","func":"const i = (msg.data.minutely.summary);\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":549,"wires":[["94b65e90.0c8b1"]]},{"id":"b2c2406e.e5fe4","type":"function","z":"24474a6.51929b6","name":"Ozone","func":"const i = msg.payload.ozone;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":669,"wires":[["bd281e08.61ba7"]]},{"id":"fddc952e.79abb8","type":"function","z":"24474a6.51929b6","name":"Cloud","func":"const i = msg.payload.cloudCover*100;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":709,"wires":[["bf1e38e9.d294a8"]]},{"id":"4c227807.2cf368","type":"inject","z":"24474a6.51929b6","name":"every 10 mins","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"*/10 0-23 * * *","once":true,"onceDelay":"","x":505,"y":1929,"wires":[["55940036.1773c"]]},{"id":"37afc50d.6b31ca","type":"function","z":"24474a6.51929b6","name":"high temp","func":"const i = msg.temperatureHigh;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1339,"wires":[["99edb87a.8610a8"]]},{"id":"6a803222.b0e58c","type":"function","z":"24474a6.51929b6","name":"low temp","func":"const i = msg.temperatureLow;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1379,"wires":[["907b5a22.9dab28"]]},{"id":"c5d57532.2f83a8","type":"function","z":"24474a6.51929b6","name":"icon","func":"let i = msg.icon;\n\n// Fix for Darksky displaying partly-cloudy-night\n// error, hopefully fixed soon...\nif (i == \"partly-cloudy-night\") {\n    i = \"clear-day\";\n    }\n    \nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":1299,"wires":[["bd456e86.cea78"]]},{"id":"82d2c25b.8cd2e","type":"function","z":"24474a6.51929b6","name":"date","func":"const i = (msg.time)*1000;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":1259,"wires":[["fdb86b23.8a4c68"]]},{"id":"167e00a3.dcaacf","type":"function","z":"24474a6.51929b6","name":"rain probability","func":"if (msg.hasOwnProperty(\"precipProbability\")) {\nconst i = msg.precipProbability*100;\nnode.send({payload:i});\n} else {\nnode.send({payload:0});\n}","outputs":1,"noerr":0,"x":1125,"y":1659,"wires":[["42a2a3e2.39367c"]]},{"id":"d34ee48f.f18958","type":"function","z":"24474a6.51929b6","name":"rain Intensity","func":"if (msg.hasOwnProperty(\"precipIntensity\")) {\nconst i = msg.precipIntensity * 100;\nnode.send({payload:i});\n} else {\nnode.send({payload:0});\n}","outputs":1,"noerr":0,"x":1115,"y":1699,"wires":[["8d358985.161d98"]]},{"id":"deb40237.2a556","type":"function","z":"24474a6.51929b6","name":"humidity","func":"const i = msg.humidity*100;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1419,"wires":[["669d7e38.3f4f"]]},{"id":"1c39d424.6a2ecc","type":"function","z":"24474a6.51929b6","name":"wind deg","func":"let i = msg.windBearing;\nif (i <= 180) {\n    i = (i + 180);\n}\nelse\ni = (i - 180);\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1499,"wires":[["628bb8b9.c86c08"]]},{"id":"f2d32860.ca6b38","type":"function","z":"24474a6.51929b6","name":"wspeed","func":"const i = msg.windSpeed;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1539,"wires":[["2edefc9d.0167b4"]]},{"id":"6ffc7d1.2399e84","type":"link in","z":"24474a6.51929b6","name":"Wunderground forecast parser","links":["414c576b.803938"],"x":470,"y":1469,"wires":[["6854377d.d140f8"]]},{"id":"414c576b.803938","type":"link out","z":"24474a6.51929b6","name":"Forecast trigger","links":["6ffc7d1.2399e84","49f07176.66759","bb49de0b.d1bc4","b4acf42e.81b878"],"x":1040,"y":1909,"wires":[]},{"id":"ef38ab51.26f798","type":"function","z":"24474a6.51929b6","name":"Dewpoint","func":"const i = msg.payload.dewPoint;\nnode.send({payload:i});\n","outputs":1,"noerr":0,"x":1105,"y":979,"wires":[["3f9a3863.720fe8"]]},{"id":"b829ea2d.025838","type":"function","z":"24474a6.51929b6","name":"Wind deg","func":"let i = msg.payload.windBearing;\n    if (i <= 180) {\n    i = (i + 180);\n    }\n    else\n    i = (i - 180);\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1029,"wires":[["85a5b70c.da0fc8"]]},{"id":"6067386f.8c3e28","type":"function","z":"24474a6.51929b6","name":"Humidity","func":"const i = msg.payload.humidity*100;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1069,"wires":[["cfbae687.c51ed8"]]},{"id":"13b61598.dda1ba","type":"function","z":"24474a6.51929b6","name":"Pressure","func":"const i = msg.payload.pressure;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1109,"wires":[["14ffd85c.0de3a8"]]},{"id":"20d3eaa6.e52976","type":"function","z":"24474a6.51929b6","name":"Icon","func":"const i = msg.payload.icon;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":1149,"wires":[["b831075e.08d9e8"]]},{"id":"1631ac4b.9263d4","type":"function","z":"24474a6.51929b6","name":"Reload","func":"//Load flow context to variable\nvar select = flow.get('dropdown')||1;\n\n//If dropdown option is changed\nif (msg.topic=='dropdown') {\n    flow.set('dropdown',msg.payload);\n    node.send ({topic:msg.payload});\n    }\n    \n//If http connection is made, or triggered by inject\nelse if (msg.payload=='connect') {\n    node.send ({topic:select});\n    }\n\n//Or do nothing\nelse {node.send (null);}\n","outputs":"1","noerr":0,"x":765,"y":1879,"wires":[["dedb1efa.8be1e"]]},{"id":"6c4fa61.468af58","type":"inject","z":"24474a6.51929b6","name":"New day","topic":"","payload":"connect","payloadType":"str","repeat":"","crontab":"01 00 * * *","once":false,"x":525,"y":1839,"wires":[["1631ac4b.9263d4"]]},{"id":"3d99785b.9ab298","type":"function","z":"24474a6.51929b6","name":"Wind","func":"const w = msg.payload.windSpeed;\nlet g = msg.payload.windGust;\n\n// make sure gusts are never lower\n// than windspeed\nif (g < w) {g = w;}\n\nlet newMess1 = {topic:\"wind\",payload:w,};\nlet newMess2 = {topic:\"gust\",payload:g,};\n\nreturn [ newMess1, newMess2 ];\n","outputs":2,"noerr":0,"x":1095,"y":929,"wires":[["1881b18d.bb03fe","f5ef5161.04453"],["1881b18d.bb03fe","add8eb89.fffc18"]]},{"id":"ed4cd7ac.354388","type":"comment","z":"24474a6.51929b6","name":"Current Conditions","info":"","x":515,"y":739,"wires":[]},{"id":"8eeb5abc.ee4ed8","type":"comment","z":"24474a6.51929b6","name":"Darksky forecast","info":"","x":505,"y":1409,"wires":[]},{"id":"2908fa96.3583e6","type":"inject","z":"24474a6.51929b6","name":"restore","topic":"","payload":"weatherTemp","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1105,"y":749,"wires":[["bc63a4b6.df4d68"]]},{"id":"3df4349.7581ecc","type":"change","z":"24474a6.51929b6","name":"save context","rules":[{"t":"set","p":"weatherTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1465,"y":749,"wires":[[]]},{"id":"135a7.92c7da597","type":"inject","z":"24474a6.51929b6","name":"restore","topic":"","payload":"weatherWind","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1105,"y":869,"wires":[["1881b18d.bb03fe"]]},{"id":"42eab8da.452058","type":"change","z":"24474a6.51929b6","name":"save context","rules":[{"t":"set","p":"weatherWind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1465,"y":869,"wires":[[]]},{"id":"dc81c9f.3998e38","type":"ui_ui_control","z":"24474a6.51929b6","name":"","x":465,"y":1799,"wires":[["1631ac4b.9263d4"]]},{"id":"55940036.1773c","type":"ui_button","z":"24474a6.51929b6","name":"Dash Refresh","group":"d07f77bf.cfeb28","order":18,"width":"1","height":"1","passthru":true,"label":"","color":"","bgcolor":"","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","x":745,"y":1929,"wires":[["dedb1efa.8be1e"]]},{"id":"ab94e7e7.e619f8","type":"ui_dropdown","z":"24474a6.51929b6","name":"Select","label":"","place":"","group":"471e4534.91056c","order":8,"width":"3","height":"1","passthru":true,"options":[{"label":"today","value":"0","type":"str"},{"label":"today + 1","value":"1","type":"str"},{"label":"today + 2","value":"2","type":"str"},{"label":"today + 3","value":"3","type":"str"},{"label":"today + 4","value":"4","type":"str"},{"label":"today + 5","value":"5","type":"str"},{"label":"today + 6","value":"6","type":"str"},{"label":"today + 7","value":"7","type":"str"}],"payload":"","topic":"dropdown","x":585,"y":1879,"wires":[["1631ac4b.9263d4"]]},{"id":"bd456e86.cea78","type":"ui_template","z":"24474a6.51929b6","group":"471e4534.91056c","name":"icon Image","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-darksky-{{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1295,"y":1299,"wires":[[]]},{"id":"b831075e.08d9e8","type":"ui_template","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","name":"icon image","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-darksky-{{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1295,"y":1149,"wires":[[]]},{"id":"bbbb6b7d.e244f8","type":"ui_template","z":"24474a6.51929b6","group":"471e4534.91056c","name":"weather summary","order":16,"width":"6","height":"9","format":"<div><font size=\"+1.5\">Weather Forecast Summary</font></div><br>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1315,"y":1619,"wires":[[]]},{"id":"85a5b70c.da0fc8","type":"ui_gauge","z":"24474a6.51929b6","name":"wind direction","group":"d07f77bf.cfeb28","order":10,"width":"3","height":"3","gtype":"compass","title":"wind direction","label":"degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1305,"y":1029,"wires":[]},{"id":"628bb8b9.c86c08","type":"ui_gauge","z":"24474a6.51929b6","name":"Wind compass","group":"471e4534.91056c","order":7,"width":"3","height":"3","gtype":"compass","title":"wind direction","label":"degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"x":1305,"y":1499,"wires":[]},{"id":"bc63a4b6.df4d68","type":"ui_chart","z":"24474a6.51929b6","name":"temp chart","group":"d07f77bf.cfeb28","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff80","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1295,"y":749,"wires":[["3df4349.7581ecc"],[]]},{"id":"1881b18d.bb03fe","type":"ui_chart","z":"24474a6.51929b6","name":"wind chart","group":"d07f77bf.cfeb28","order":14,"width":0,"height":0,"label":"Wind","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff80","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1295,"y":869,"wires":[["42eab8da.452058"],[]]},{"id":"99edb87a.8610a8","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":4,"width":"2","height":"1","name":"","label":"temp ▲","format":"{{msg.payload}}°C","layout":"col-center","x":1285,"y":1339,"wires":[]},{"id":"907b5a22.9dab28","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":5,"width":"2","height":"1","name":"","label":"temp ▼","format":"{{msg.payload}}°C","layout":"col-center","x":1285,"y":1379,"wires":[]},{"id":"22644c58.c2f174","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":17,"width":"2","height":"1","name":"","label":"time now","format":"{{msg.payload | date:\"HH':'mm\"}}","layout":"col-center","x":795,"y":1989,"wires":[]},{"id":"42a2a3e2.39367c","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":2,"width":"2","height":"1","name":"Rain prob","label":"rain prob","format":"{{msg.payload | number:0}}%","layout":"col-center","x":1285,"y":1659,"wires":[]},{"id":"2edefc9d.0167b4","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":9,"width":"3","height":"1","name":"","label":"w/speed","format":"{{msg.payload | number:1}}mph","layout":"col-center","x":1285,"y":1539,"wires":[]},{"id":"fdb86b23.8a4c68","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":6,"width":"6","height":"1","name":"Date","label":"forecast for","format":"{{msg.payload | date:\"EEEE, MMMM d\"}}","layout":"col-center","x":1275,"y":1259,"wires":[]},{"id":"94b65e90.0c8b1","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":9,"width":"6","height":"1","name":"for the hour","label":" ","format":"{{msg.payload}}","layout":"row-left","x":1295,"y":549,"wires":[]},{"id":"add8eb89.fffc18","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":12,"width":"3","height":"1","name":"","label":"gusts","format":"{{msg.payload}}mph","layout":"row-spread","x":1275,"y":949,"wires":[]},{"id":"14ffd85c.0de3a8","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":6,"width":"2","height":"1","name":"","label":"pressure","format":"{{msg.payload | number:0}}mb","layout":"col-center","x":1285,"y":1109,"wires":[]},{"id":"bd281e08.61ba7","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":16,"width":"2","height":"1","name":"","label":"ozone","format":"{{msg.payload | number:1}}du","layout":"col-center","x":1275,"y":669,"wires":[]},{"id":"b3eaf434.c6e248","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":19,"width":"5","height":"1","name":"Last updated","label":"","format":"Last Updated - {{msg.payload | date:\"HH':'mm\"}}","layout":"row-left","x":1295,"y":1189,"wires":[]},{"id":"3f9a3863.720fe8","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":15,"width":"2","height":"1","name":"dewpoint","label":"dewpoint","format":"{{msg.payload}}°C","layout":"col-center","x":1285,"y":989,"wires":[]},{"id":"cfbae687.c51ed8","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":5,"width":"2","height":"1","name":"","label":"humidity","format":"{{msg.payload | number:1}}%","layout":"col-center","x":1285,"y":1069,"wires":[]},{"id":"d2d27246.12d69","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":3,"width":"2","height":"1","name":"","label":"rain prob","format":"{{msg.payload | number:1}}%","layout":"col-center","x":1285,"y":589,"wires":[]},{"id":"7babbcce.0aa154","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":4,"width":"2","height":"1","name":"","label":"rain intense","format":"{{msg.payload | number:1}}ml/hr","layout":"col-center","x":1295,"y":629,"wires":[]},{"id":"3e39d52f.42642a","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":7,"width":"3","height":"1","name":"","label":"temperature","format":"{{msg.payload}}°C","layout":"col-center","x":1295,"y":789,"wires":[]},{"id":"f5ef5161.04453","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":11,"width":"3","height":"1","name":"","label":"w/spd","format":"{{msg.payload}}mph","layout":"row-spread","x":1275,"y":909,"wires":[]},{"id":"bf1e38e9.d294a8","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":13,"width":"3","height":"1","name":"cloud cover","label":"clouds","format":"{{msg.payload | number:1}}%","layout":"row-spread","x":1295,"y":709,"wires":[]},{"id":"f07a3f75.266d1","type":"ui_text","z":"24474a6.51929b6","group":"d07f77bf.cfeb28","order":8,"width":"3","height":"1","name":"","label":"feelslike","format":"{{msg.payload}}°C","layout":"col-center","x":1285,"y":829,"wires":[]},{"id":"8d358985.161d98","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":3,"width":"2","height":"1","name":"Rain - intensity","label":"rain intense","format":"{{msg.payload | number:1}}ml/hr","layout":"col-center","x":1305,"y":1699,"wires":[]},{"id":"669d7e38.3f4f","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":11,"width":"3","height":"1","name":"","label":"humidity","format":"{{msg.payload | number:1}}%","layout":"col-center","x":1285,"y":1419,"wires":[]},{"id":"1e0add5.8e7ea23","type":"function","z":"24474a6.51929b6","name":"Temp","func":"const t = msg.payload.temperature;\nconst f = msg.payload.apparentTemperature;\n\nlet m1 = {topic:\"temperature\",payload:t,};\nlet m2 = {topic:\"feelslike\",payload:f,};\n\nreturn [ m1, m2 ];","outputs":2,"noerr":0,"x":1095,"y":799,"wires":[["bc63a4b6.df4d68","3e39d52f.42642a"],["bc63a4b6.df4d68","f07a3f75.266d1"]]},{"id":"d7283b60.d48e38","type":"function","z":"24474a6.51929b6","name":"Obs time","func":"const i = msg.payload.time*1000;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1189,"wires":[["b3eaf434.c6e248"]]},{"id":"6854377d.d140f8","type":"function","z":"24474a6.51929b6","name":"Forecast","func":"const t = msg.topic;\nconst i = msg.data.daily.data[t];\nnode.send(i);","outputs":1,"noerr":0,"x":715,"y":1469,"wires":[["82d2c25b.8cd2e","c5d57532.2f83a8","37afc50d.6b31ca","6a803222.b0e58c","deb40237.2a556","1c39d424.6a2ecc","f2d32860.ca6b38","f376aa98.227b98","d954a485.1394e8","d010cae8.85d0b8","167e00a3.dcaacf","d34ee48f.f18958","48326504.0fc2dc","6e4f7ff1.de4f5"]]},{"id":"f376aa98.227b98","type":"function","z":"24474a6.51929b6","name":"Summary","func":"const i = msg.summary;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1619,"wires":[["bbbb6b7d.e244f8"]]},{"id":"d954a485.1394e8","type":"function","z":"24474a6.51929b6","name":"gusts","func":"const i = msg.windGust;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":1579,"wires":[["7d6eccaf.1c4054"]]},{"id":"7d6eccaf.1c4054","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":10,"width":"3","height":"1","name":"","label":"gusts","format":"{{msg.payload | number:1}}mph","layout":"col-center","x":1275,"y":1579,"wires":[]},{"id":"d010cae8.85d0b8","type":"function","z":"24474a6.51929b6","name":"clouds","func":"const i = msg.cloudCover * 100;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1095,"y":1459,"wires":[["73a75dbe.3e7384"]]},{"id":"73a75dbe.3e7384","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":12,"width":"3","height":"1","name":"","label":"Cloud cover","format":"{{msg.payload | number:1}}%","layout":"col-center","x":1295,"y":1459,"wires":[]},{"id":"b4acf42e.81b878","type":"link in","z":"24474a6.51929b6","name":"Wunderground forecast parser","links":["414c576b.803938"],"x":470,"y":829,"wires":[["d8252436.8e3608","1742e5a1.7b1c4a"]]},{"id":"1742e5a1.7b1c4a","type":"function","z":"24474a6.51929b6","name":"Current","func":"const i = msg.data.currently;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":725,"y":829,"wires":[["9ebd2ede.70dd8","5dab46ec.079968","b2c2406e.e5fe4","fddc952e.79abb8","ef38ab51.26f798","b829ea2d.025838","6067386f.8c3e28","13b61598.dda1ba","20d3eaa6.e52976","d7283b60.d48e38","1e0add5.8e7ea23","3d99785b.9ab298"]]},{"id":"48326504.0fc2dc","type":"function","z":"24474a6.51929b6","name":"Sunrise","func":"const i = msg.sunriseTime*1000;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1739,"wires":[["357da626.cbe23a"]]},{"id":"6e4f7ff1.de4f5","type":"function","z":"24474a6.51929b6","name":"Sunset","func":"const i = msg.sunsetTime*1000;\nnode.send({payload:i});","outputs":1,"noerr":0,"x":1105,"y":1779,"wires":[["3a03b0c3.28855"]]},{"id":"357da626.cbe23a","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":13,"width":"3","height":"1","name":"Sunrise","label":"Sunrise","format":"{{msg.payload | date:\"HH':'mm\"}}","layout":"col-center","x":1285,"y":1739,"wires":[]},{"id":"3a03b0c3.28855","type":"ui_text","z":"24474a6.51929b6","group":"471e4534.91056c","order":14,"width":"3","height":"1","name":"Sunset","label":"Sunset","format":"{{msg.payload | date:\"HH':'mm\"}}","layout":"col-center","x":1285,"y":1779,"wires":[]},{"id":"acdc5947.97b3c8","type":"inject","z":"24474a6.51929b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":495,"y":1989,"wires":[["22644c58.c2f174"]]},{"id":"dedb1efa.8be1e","type":"darksky","z":"24474a6.51929b6","darksky":"8184a219.e7c75","name":"","lon":"16.479460","lat":"49.786893","date":"","time":"","mode":"node","lang":"cs","units":"si","x":925,"y":1909,"wires":[["414c576b.803938"]]}]